<nav class="navbar bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <div id="branding" class="d-flex align-items-center">
      <i class="fa-solid fa-hand-holding-heart"></i>
      <h5 class="mb-0 ms-1">P. Gopal Reddy</h5>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse ms-md-3"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link ms-md-2" href="/home">Home</a>
        <a class="nav-link ms-md-2" href="/about">About</a>
        <a class="nav-link ms-md-2" href="/plans">Plans</a>
        <a class="nav-link ms-md-2" href="/calculators">Calculators</a>
        <a class="nav-link ms-md-2" href="/contact">Contact</a>

        <a
          class="btn btn-primary ms-lg-3 mt-2 mt-md-0"
          href="/consult"
        >
          Get Consultation
        </a>
      </div>

      <div
        class="navbar-nav ms-auto mt-3 mt-md-0
               align-items-md-center gap-2"
      >

        <% if (!agent && !googleUser) { %>
          <a
            href="/auth/google"
            class="btn btn-outline-danger"
          >
            <i class="fa-brands fa-google me-1"></i>
            Sign In
          </a>
        <% } %>

        <% if (googleUser) { %>
          <a
            href="/auth/logout"
            class="btn btn-outline-danger"
          >
            <i class="fa-solid fa-right-from-bracket me-1"></i>
            Sign Out
          </a>
        <% } %>

        <% if (agent) { %>
          <a
            href="/dashboard"
            class="btn btn-outline-primary"
          >
            <i class="fa-solid fa-gauge me-1"></i>
            Dashboard
          </a>

          <a
            href="/logout"
            class="btn btn-dark"
          >
            <i class="fa-solid fa-right-from-bracket me-1"></i>
            Logout
          </a>
        <% } else { %>
          <a
            href="/login"
            class="btn btn-outline-dark"
          >
            <i class="fa-solid fa-user me-1"></i>
            Agent Login
          </a>
        <% } %>

      </div>
    </div>

  </div>
</nav>